---
import Card from '../Card.astro';
---

<section id="next-section" class="py-20 px-8 pt-24 z-30 text-white relative">
	<div class="max-w-4xl mx-auto text-center">
		<h2 class="text-5xl font-bold mb-8">
			We Understand Creatives, because we <span class="italic text-orange-500"
				>are</span
			> creatives.
		</h2>
		<p class="text-xl max-w-xl mx-auto font-semibold">
			Founded by people who’ve been on both sides of the glass — tech and
			creative — we build high-powered digital systems that actually make sense
			for small businesses.
		</p>
	</div>
	<div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto">
		<Card>
			<span class="badge badge-accent badge-lg">Adaptability</span>
			<p class="font-semibold text-xl max-w-md mt-4">
				Tech shouldn’t get in the way of your vision. We engineer invisible
				tools — the kind that <span class="opacity-20 animate-pulse"
					>disappear</span
				> so your creativity takes center stage.
			</p>
			<div class="grid grid-cols-2 gap-4 mt-6">
				<figure class="rounded-xl overflow-hidden">
					<img
						src="https://images.unsplash.com/photo-1612217081038-69a866bd1d1f?q=80&w=944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					/>
				</figure>
				<figure class="rounded-xl overflow-hidden">
					<img
						src="https://images.unsplash.com/photo-1612217081038-69a866bd1d1f?q=80&w=944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					/>
				</figure>
			</div>
		</Card>

		<Card>
			<span class="badge badge-secondary badge-lg">Client Love</span>
			<p class="font-semibold text-xl max-w-md mt-4">
				We build things that don’t just look good — they perform. When your
				audience feels the difference, your brand grows faster.
			</p>
			<div class="grid grid-cols-2 gap-4 mt-6">
				<figure class="rounded-xl overflow-hidden">
					<img
						src="https://images.unsplash.com/photo-1612217081038-69a866bd1d1f?q=80&w=944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					/>
				</figure>
				<figure class="rounded-xl overflow-hidden">
					<img
						src="https://images.unsplash.com/photo-1612217081038-69a866bd1d1f?q=80&w=944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					/>
				</figure>
			</div>
		</Card>
	</div>
</section>
