---
import RootLayout from "../layouts/RootLayout.astro";
import VideoGallery from "../components/react/VideoGallery.tsx";
---

<RootLayout>
	<section class="w-screen">
		<VideoGallery client:load />
	</section>
</RootLayout>
