---
import RootLayout from '../layouts/RootLayout.astro';
import SplashComponent from '../components/SplashComponent.astro';
---

<RootLayout
	title="Home | Shawn Paps Media"
	description="Welcome to my personal brand and portfolio website. Explore my services, case studies, and get in touch to see how I can help elevate your brand."
>
	<div
		class="min-h-screen absolute top-0 left-0 w-full flex items-center justify-center"
	>
		{/* Centered Splash Component */}
		<SplashComponent />
	</div>
	<div>This is the regular content</div>
</RootLayout>
