---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const { title, description } = Astro.props;
---

<html data-theme="sunset" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen w-full relative tracking-tighter text-white">
		{/* Dark Dot Matrix */}
		<div
			class="absolute inset-0 z-0"
			style={{
				backgroundColor: '#0a0a0a',
				backgroundImage: `
       radial-gradient(circle at 25% 25%, #222222 0.5px, transparent 1px),
       radial-gradient(circle at 75% 75%, #111111 0.5px, transparent 1px)
     `,
				backgroundSize: '10px 10px',
				imageRendering: 'pixelated',
			}}
		>
		</div>
		{/* Your Content Here */}
		<header class="fixed top-0 left-0 right-0 z-50 py-4">
			<Navigation />
		</header>
		<slot />
	</body>
</html>
