---
import DesktopNavigation from '../react/DesktopNavigation';
import MobileNavigation from '../react/MobileNavigation';
---

<header class="sticky top-0 left-0 right-0 z-50 backdrop-blur-md bg-black/50">
	<nav class="hidden md:block">
		<DesktopNavigation client:load />
	</nav>
	<nav class="md:hidden">
		<MobileNavigation client:load />
	</nav>
</header>
