---
import DesktopNavigation from '../react/DesktopNavigation';
import MobileNavigation from '../react/MobileNavigation';
---

<header>
	<nav class="hidden md:block">
		<DesktopNavigation client:load />
	</nav>
	<nav class="md:hidden">
		<MobileNavigation client:load />
	</nav>
</header>
