---
import SocialLink from '../react/SocialLink';
import socials from '../../data/socials';
---

<div
	class="bg-moody-800/30 backdrop-blur-sm border border-warm-500/20
    rounded-2xl p-8"
>
	<h3 class="font-heading text-2xl font-bold text-warm-400 mb-6 tracking-wider">
		CONNECT
	</h3>
	<div class="flex space-x-4">
		{
			socials.map((social) => (
				<SocialLink href={social.url} icon={social.icon} />
			))
		}
	</div>
</div>
