---

---

<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" checked="checked" />
	<div class="collapse-title font-semibold">Do you build websites?</div>
	<div class="collapse-content text-sm">
		<p>
			Yes! We offer Web Design & Web Development Services. From a landing
			page to deeply integrated web platforms, we got you. <br /><br />No
			templates. Ever.
		</p>
	</div>
</div>
<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" />
	<div class="collapse-title font-semibold">Do you build apps?</div>
	<div class="collapse-content text-sm">
		We are a team of talented software engineers with experience across the
		entire tech stack. We build apps, platforms, custom integrations, and
		more.
	</div>
</div>
<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" />
	<div class="collapse-title font-semibold">
		What industries do you collaborate with?
	</div>
	<div class="collapse-content text-sm">
		<p>Our favorite industries to work with are:</p>
		<ul class="mt-2 list-disc list-inside">
			<li>Music & Music Technology</li>
			<li>Creative Services (Barbers, Tattoo Artists, Coffee etc.)</li>
			<li>Gaming & Novelties</li>
			<li>Sports & Entertainment</li>
		</ul>
	</div>
</div>
<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" />
	<div class="collapse-title font-semibold">
		Do you work on Shopify stores?
	</div>
	<div class="collapse-content text-sm">
		<p>
			Yes! In fact, Shopify is one of our favorite e-commerce platforms to
			work with.
		</p>
	</div>
</div>
<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" />
	<div class="collapse-title font-semibold">
		Do you work on Wordpress websites?
	</div>
	<div class="collapse-content text-sm">
		<p>
			We actually specialize in migrating businesses away from Wordpress
			and other aging technology solutions for the user-facing portions of
			their website.
		</p>
		<p class="mt-2">
			Tap the button below to learn more about Headless CMS and our
			Wordpress migration platform.
		</p>
		<a class="btn btn-primary mt-2" href="#"
			>Learn more about ditching Wordpress</a
		>
	</div>
</div>
<div class="collapse collapse-plus bg-base-100 border border-base-300">
	<input type="radio" name="my-accordion-3" />
	<div class="collapse-title font-semibold">Do you offer IT solutions?</div>
	<div class="collapse-content text-sm">
		<p>
			Yes! We offer extensive IT and development solutions to fit your
			business needs.
		</p>
		<ul class="mt-2 list-disc list-inside">
			<li class="">Cloud Development & Server Management</li>
			<li class="">Data Analytics & Management</li>
			<li>IT Hardware Consulting (PC Builds, Servers, NAS, etc.)</li>
			<li>
				Recording Studio Tech Setup (Computers, Routing, Audio Software)
			</li>
			<li>Software R&D (Startup Contract Work, Product Design)</li>
		</ul>
		<a class="btn btn-primary mt-2">Learn More about Our Services</a>
	</div>
</div>
