---
import { Zap, SquareMenu } from 'lucide-astro';
---

<nav
	class="navbar max-w-screen-xl mx-auto rounded-full bg-white/20 backdrop-blur-md text-white border border-white/10"
>
	<div class="navbar-start">
		<button
			class="btn btn-ghost md:hidden normal-case text-xl text-white navbar-start"
			><SquareMenu /></button
		>
		<button class="btn btn-ghost text-xl text-white">sudo.create</button>
	</div>
	<div class="navbar-center hidden md:flex space-x-6">
		<a class="btn btn-ghost hover:text-primary rounded-full">For Businesses</a>
		<a class="btn btn-ghost hover:text-primary rounded-full">For Creators</a>
		<a class="btn btn-ghost hover:text-primary rounded-full">For Studios</a>
		<a class="btn btn-ghost hover:text-primary rounded-full">Case Studies</a>
		<a class="btn btn-ghost hover:text-primary rounded-full">Products</a>
	</div>
	<div class="navbar-end">
		<button class="btn btn-primary rounded-full btn-outline"
			>Let's build your unfair advantage.</button
		>
	</div>
</nav>
