---
import { Zap, SquareMenu } from 'lucide-astro';
---

<div class="navbar bg-neutral text-neutral-content">
	<button class="btn btn-ghost normal-case text-xl"><SquareMenu /></button>
	<button class="btn btn-ghost text-xl">sudo.create</button>
</div>
