---
import { Zap, SquareMenu, X } from "lucide-astro";
import SocialLinks from "./SocialLinks.astro";
---

<nav
	class="navbar max-w-screen-2xl mx-auto rounded-full bg-white/20 backdrop-blur-md text-white border border-white/10 px-4"
>
	<div class="navbar-start">
		<div class="dropdown">
			<label tabindex="0" class="btn btn-ghost md:hidden">
				<SquareMenu />
			</label>
			<ul
				tabindex="0"
				class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
			>
				<li>
					<a href="/solutions/businesses">for businesses</a>
				</li>
				<li>
					<a href="/solutions/creators">for creators</a>
				</li>
				<li>
					<a href="/solutions/studios">for studios</a>
				</li>
				<li>
					<a href="/case-studies">case studies</a>
				</li>
				<li>
					<a href="/products">products</a>
				</li>
				<li>
					<a href="/contact">contact</a>
				</li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost text-xl text-white">sudo.create</a>
	</div>
	<div class="navbar-center hidden md:flex space-x-2 lg:space-x-4">
		<a
			href="/solutions/businesses"
			class="btn btn-ghost hover:text-primary rounded-full text-sm lg:text-base"
			>for businesses</a
		>
		<a
			href="/solutions/creators"
			class="btn btn-ghost hover:text-primary rounded-full text-sm lg:text-base"
			>for creators</a
		>
		<a
			href="/solutions/studios"
			class="btn btn-ghost hover:text-primary rounded-full text-sm lg:text-base"
			>for studios</a
		>
		<a
			href="/case-studies"
			class="btn btn-ghost hover:text-primary rounded-full text-sm lg:text-base"
			>case studies</a
		>
		<a
			href="/products"
			class="btn btn-ghost hover:text-primary rounded-full text-sm lg:text-base"
			>products</a
		>
	</div>
	<div class="navbar-end flex items-center gap-2">
		<div class="hidden lg:flex">
			<SocialLinks variant="navbar" size="sm" />
		</div>
		<a
			href="/contact"
			class="btn btn-primary rounded-full btn-outline btn-sm lg:btn-md hidden sm:flex"
			>let's make something cinematic.</a
		>
		<a href="/contact" class="btn btn-primary rounded-full btn-sm sm:hidden"
			>let's make something cinematic.</a
		>
	</div>
</nav>
